<ion-header>
  <ion-navbar>
    <!--<button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>-->
    <ion-buttons right>
      <button ion-button icon-left [navPush]="accountSignupPage" *ngIf="globals.userId == ''">
        <ion-icon name="contact"></ion-icon>Register
      </button>
      <button ion-button icon-left [navPush]="accountSigninPage" *ngIf="globals.userId == ''">
        <ion-icon name="log-in"></ion-icon>Sign In
      </button>
      <button ion-button icon-left (click)="globals.logout()" *ngIf="globals.userId">
        <ion-icon name="log-out"></ion-icon>Sign Out
      </button>
    </ion-buttons>
    <ion-title>Upload Resource</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding *ngIf="globals.userId">


  <!--<p *ngIf="submitted" style="color: #ea6153;">Please fill out all details accurately.</p>-->
  <ion-list>
    <form #theForm="ngForm" novalidate>

      <p padding-left>
        Optional Instructions
      </p>

      <ion-item>
        <ion-label>Resource type</ion-label>
        <ion-select [(ngModel)]="formData.resourceType" ngControl="resourceType" name="resourceType" #type="ngModel">
          <ion-option value="undetermined" selected>Undetermined</ion-option>
          <ion-option value="animaldata" >Animal data</ion-option>
          <ion-option value="sample">Sample</ion-option>
          <ion-option value="email">Email</ion-option>
          <ion-option value="notification">Notification</ion-option>
          <ion-option value="task">Task</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label floating>Processing instructions</ion-label>
        <ion-input [(ngModel)]="formData.processingInstructions" ngControl="processingInstructions" name="processingInstructions" type="text" #name="ngModel" ></ion-input>
      </ion-item>


      <ion-item>
        <ion-label floating>Tags</ion-label>
        <ion-input [(ngModel)]="formData.tags" ngControl="tags" name="tags" type="text" #description="ngModel" required></ion-input>
      </ion-item>


      <ion-input [(ngModel)]="formData.resourcefile" ngControl="resourcefile" hidden name="resourcefile" type="hidden" #resourcefile="ngModel" required></ion-input>

      <div *ngIf="platform.is('cordova')">
        <button ion-button (click)="selectImage()" type="submit" color="primary">Select resource file</button>
      </div>
      <div *ngIf="!platform.is('cordova')">
        <input style='font-size:12px; width: 0.1px; height: 0.1px; opacity: 0; overflow: hidden; position: absolute; z-index: -1;' id="imageUpload" type="file" accept="*/*">
        <label ion-button (click)="attachImageUploadEventListener()" color="primary" style='none;display: inline-block;' for="imageUpload" id="imageUploadLabel">Select & Upload Resource</label>
        <button ion-button (click)="selectImage()" style='visibility:hidden; text-transform:none;' type="submit" color="primary" id="imageUploadSubmit">UPLOAD</button>
      </div>


      <p [hidden]="resourcefile.valid || !submitted" color="danger" padding-left>
        Resource file is required
      </p>


    </form>
  </ion-list>

  <br>

  <ion-row responsive-sm>
    <ion-col>
      <button ion-button (click)="onSubmit(theForm)" style='visibility:hidden; text-transform:none;' type="submit" primary block>Upload Resource</button>
    </ion-col>
  </ion-row>

</ion-content>
