<ion-header>
  <ion-navbar>
    <!--<button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>-->
    <ion-buttons right>
      <button ion-button icon-left [navPush]="accountSignupPage" *ngIf="globals.userId == ''">
        <ion-icon name="contact"></ion-icon>Register
      </button>
      <button ion-button icon-left [navPush]="accountSigninPage" *ngIf="globals.userId == ''">
        <ion-icon name="log-in"></ion-icon>Sign In
      </button>
      <button ion-button icon-left (click)="globals.logout()" *ngIf="globals.userId">
        <ion-icon name="log-out"></ion-icon>Sign Out
      </button>
    </ion-buttons>
    <ion-title>Processed Resources</ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="globals.userId">
  <ion-refresher (ionRefresh)="this.refreshPhotos()">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <!--<div class="container">-->
  <div *ngFor="let photo of photos">
    <div class="photo-blocks">
      <a (click)="getInfo(photo)" class="thumbnail center-block">

        <div *ngIf="photo.processingType">
          <!-- code to render a large video block-->
          <img class="full-image" [src]="photo.taskurl|async"><br/>
        </div>
        <div *ngIf="!photo.processingType">
          <!-- code to render the regular video block -->
          <img class="full-image" [src]="photo.url|async"><br/></div>


        <strong>Tags: </strong>
        <div class="photo-tags" *ngFor="let tag of photo.tags">
          <span class="label label-primary">{{tag}}</span>
        </div>
        <div>
          <strong>Upload date: </strong>
          <span>{{(photo.uploadTime*1000) | date:'medium'}}</span>
        </div>
        <div *ngIf="photo.latitude && photo.longitude">
          <strong>Geolocation:</strong> {{photo.latitude.D}}°{{photo.latitude.M}}'{{photo.latitude.S }}" {{photo.latitude.Direction}}
          {{photo.longitude.D}}°{{photo.longitude.M}}'{{photo.longitude.S}}" {{photo.longitude.Direction}}
        </div>
        <div *ngIf="photo.exifModel">
          <strong>Device model:</strong> {{photo.exifModel}}
        </div>
        <div *ngIf="photo.exifMake">
          <strong>Device make:</strong> {{photo.exifMake}}
        </div>
        <div *ngIf="photo.imageFormat">
          <strong>Format:</strong> {{photo.imageFormat}}
        </div>
        <div *ngIf="photo.dimensions && photo.dimensions.latitude && photo.dimensions.longitude">
          <strong>Image Size: </strong>{{photo.fileSize}}, {{photo.dimensions.width}}x{{photo.dimensions.height}}
        </div>
        <strong>Status: Processing Complete</strong><br/>
        <div *ngIf="photo.processingType == 'task'">
          <strong>Action: Submitted to Ticket System</strong>
        </div>
        <div *ngIf="photo.processingType != 'task'">
          <strong>Action: Metadata Extracted</strong>
        </div>
      </a>
    </div>
  </div>
  <!--</div>-->
</ion-content>

